# Application
NODE_ENV="development"
NEXT_PUBLIC_APP_NAME="ops-admin-starter"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Database
POSTGRES_PORT="5433"
DATABASE_URL="postgresql://app:app@localhost:5433/app?schema=public"
